# Metadata Verification

This document contains the MD5 checksums of the TUF metadata files used in this application.
These can be used to verify that the correct metadata files from Sigstore CDN are being used.

## MD5 Checksums

```
6a9927369a243c4b4361b4c488649f02  public/metadata/registry.npmjs.org.json
6a9927369a243c4b4361b4c488649f02  public/metadata/rekor.json
6a9927369a243c4b4361b4c488649f02  public/metadata/revocation.json
7c98096f66ee4a677049039d4536da3d  public/metadata/root.json
63955d76a7970dd27fca6d89039b9d08  public/metadata/snapshot.json
6a9927369a243c4b4361b4c488649f02  public/metadata/staging.json
9724823f845611503eac9f58e445be7c  public/metadata/targets.json
94cc993f91ae4980803b282639cdc4db  public/metadata/timestamp.json
```

## Source URLs

The metadata files were downloaded from the following URLs:

- [12.root.json](https://tuf-repo-cdn.sigstore.dev/12.root.json)
- [timestamp.json](https://tuf-repo-cdn.sigstore.dev/timestamp.json)
- [159.snapshot.json](https://tuf-repo-cdn.sigstore.dev/159.snapshot.json)
- [11.targets.json](https://tuf-repo-cdn.sigstore.dev/11.targets.json)
- [registry.npmjs.org.json](https://tuf-repo-cdn.sigstore.dev/registry.npmjs.org.json)
- [rekor.json](https://tuf-repo-cdn.sigstore.dev/rekor.json)
- [revocation.json](https://tuf-repo-cdn.sigstore.dev/revocation.json)
- [staging.json](https://tuf-repo-cdn.sigstore.dev/staging.json) 